---
import Md from './primitives/Md.astro';
import SlideHead from './primitives/SlideHead.astro';
import Bullets from './primitives/Bullets.astro';
import RefLinks from './primitives/RefLinks.astro';

const { slide } = Astro.props;
---

<SlideHead kicker={slide.kicker} heading={slide.heading} />
<div class="diagram-wrap reveal mermaid-wrap">
  <pre class="mermaid">{slide.mermaid}</pre>
</div>
{slide.lead && <Md as="p" class="lead reveal" text={slide.lead} />}
{slide.bullets && <Bullets items={slide.bullets} />}
{slide.refs && slide.refs.length > 0 && <RefLinks refs={slide.refs} />}
